# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url,sep='\t')

### Step 4. How many products cost more than $10.00?

In [7]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:].strip()))

In [33]:
# if the description doesn't matter

chipo_one_item = chipo[chipo['quantity']==1]
prices = dict(zip(chipo_one_item['item_name'],chipo_one_item['item_price']))
expensive = [1 if x>10 else 0 for x in prices.values()]
how_many = sum(expensive)
how_many

7

In [35]:
#if the desrciption matters

prices_ = set(zip(chipo_one_item['item_name'],chipo_one_item['choice_description'],chipo_one_item['item_price']))
expensive_ = [1 if x[2]>10 else 0 for x in prices_]
how_many_ = sum(expensive_)
how_many_

685

In [44]:
# only on dataframes

chipo_greaterthan10 = (chipo_one_item[chipo_one_item['item_price']>10]).drop_duplicates(['item_name','choice_description'])
#chipo_greaterthan10.sort_values('item_price').head(30) -> description matters
len(chipo_greaterthan10)

685

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [54]:
data = [chipo_one_item['item_name'],chipo_one_item['choice_description'],chipo_one_item['item_price']]
headers = ['name','details','price']
items_prices = pd.concat(data,axis=1,keys=headers)
items_prices.head()

,name,details,price
0,Chips and Fresh Tomato Salsa,NaN,2.39
1,Izze,[Clementine],3.39
2,Nantucket Nectar,[Apple],3.39
3,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98

### Step 6. Sort by the name of the item

In [53]:
items_prices.sort_values('name')

,name,details,price
1392,6 Pack Soft Drink,[Diet Coke],6.49
553,6 Pack Soft Drink,[Diet Coke],6.49
357,6 Pack Soft Drink,[Coke],6.49
2860,6 Pack Soft Drink,[Diet Coke],6.49
341,6 Pack Soft Drink,[Diet Coke],6.49
...,...,...,...
1699,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
2384,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1395,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
738,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [61]:
items_prices_sort = items_prices.sort_values('price',ascending=False)
most_exp_it = items_prices_sort['name'][0]
q = chipo['quantity'][chipo['item_name']==most_exp_it]
q.unique()

array([ 1,  4,  2, 15], dtype=int64)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [64]:
counter = chipo.groupby('item_name').count()
counter['order_id']['Veggie Salad Bowl']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [74]:
chipo['order_id'][(chipo['item_name']=='Canned Soda') & (chipo['quantity']>1)].count()

20